
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    background-image: url(../../Recursos/Imagen_FondoLogin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: animacionLogin 8s infinite alternate linear;
    font-family: 'Nunito', sans-serif;
}

@keyframes animacionLogin {

    100% {
        background-position: 15% 30%
    }
}

.card {
    border: none;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.4) !important;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.btn-primary {
    background-color: #297EA6;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
.card-header {

    text-align:center;

}