@page
@model Gestor_de_Proyectos_Académicos.Pages.ReportePersonal.ReportePersonalModel
@{
}
<head>
    <link href="~/css/ReportePersonal/ReportePersonalCSS.css" rel="stylesheet" asp-append-version="true" />



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<h2>Reporte Personal</h2>
<div class="text-lg-start mt-3">
    

    <a class="btn btn-secondary" asp-page="/Estudiante/inicio/inicioEst">
        Volver
    </a>
</div>

@if (Model.ReporteEstudiante.Any())
{
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Total Tareas</th>
                <th>Completadas</th>
                <th>Avance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.ReporteEstudiante)
            {
                <tr>
                    <td>@r.NombreProyecto</td>
                    <td>@r.TotalTareas</td>
                    <td>@r.TareasCompletas</td>
                    <td>@r.PorcentajeAvance %</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        No se encontraron datos para este estudiante.
    </div>
}