@page
@model Gestor_de_Proyectos_Académicos.Pages.ReporteProyectos.ReporteProyectosModel
@{
}
<head>
    <link href="~/css/ReporteProyecto/ReporteProyecto.css" rel="stylesheet" asp-append-version="true" />



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<h2> Reporte General de Proyectos</h2>
<div class="text-lg-start mt-3">


    <a class="btn btn-secondary" asp-page="/Profesor/Inicio/inicioProf">
        Volver
    </a>
</div>

<form method="get">
    <label>Fecha Inicio:</label>
    <input type="date" name="fechaInicio" />

    <label>Fecha Fin:</label>
    <input type="date" name="fechaFin" />

    <button type="submit">Filtrar</button>
</form>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Proyecto</th>
            <th>Total Tareas</th>
            <th>Tareas Completas</th>
            <th>Avance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.ListaReporte)
        {
            <tr>
                <td>@p.NombreProyecto</td>
                <td>@p.TotalTareas</td>
                <td>@p.TareasCompletas</td>
                <td>@p.PorcentajeAvance %</td>
            </tr>
        }
    </tbody>
</table>