@page
@model Gestor_de_Proyectos_Académicos.Pages.ReporteProyectos.ReporteProyectosModel
@{
}
@model List<Gestor_de_Proyectos_Académicos.Entidades.Reporte>

    <h2>📊 Reporte General de Proyectos</h2>

    <form method="get">
        <label>Fecha Inicio:</label>
        <input type="date" name="fechaInicio" />

        <label>Fecha Fin:</label>
        <input type="date" name="fechaFin" />

        <button type="submit">Filtrar</button>
    </form>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Total Tareas</th>
                <th>Tareas Completas</th>
                <th>Avance</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model)
        {
            <tr>
                <td>@p.NombreProyecto</td>
                <td>@p.TotalTareas</td>
                <td>@p.TareasCompletas</td>
                <td>@p.PorcentajeAvance %</td>
            </tr>
        }
        </tbody>
    </table>
